:root {
    --game-size: 20px;
    font-size: var(--game-size);
}

body {
    font: 1rem "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    padding-left: 0px;
}

.board-row {
    display: flex;
    justify-content: center;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    height: 4rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 4rem;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-info {
    margin: auto;
}

.game-info ol {
    list-style: none;
}

.game-info li > button {
    display: flex;
    margin: 5px auto;
}

.square.highlight {
    background: yellow;
}
